version: "3.9"
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: blog_db
      POSTGRES_USER: blog_user
      POSTGRES_PASSWORD: challenge!123!
    ports:
      - "55432:5432"

  backend:
    build: ../backend
    env_file:
      - ../backend/.env
    depends_on:
      - db
    ports:
      - "4000:4000"

  frontend:
    build: ../frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
